files
zenv
uploads
dumps
*.pyc
*.mo
*.log
*.sass-cache
*.ini
*.pl
*rdb
*.out
*.save
*.sql
data/*
!data/mobiliuz.sql
!data/mobiliuz.latest.sql
!data/mobiliuz.latest.rdb
*.sublime-*
*.swp
static
!mobiportal/static
git
[0-9]
src/
.idea/
